button.download{
	background-color: #ed5564;
	color: #fff;
	border-radius: 2px;
	border: none;
	padding: 5px 10px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Open Sans' , sans-serif;
}

