.lista{
	background-color: silver;
	list-style: none;
	margin: 0;
	padding: 0;
}

	.lista li{
		background-color: orange;
		text-align: center;
		font-family: sans-serif;
		float: right;
		/*width: 33%;*/
		width: calc(94% / 3);
		color: white;
		margin: 1%;
		height: 100px;

	}

	li.red{
		background-color: red; 
	}

	li.green{
		background-color: green; 
	}

	li.blue{
		background-color: blue; 
	}