body{
	padding: 0;
	margin: 0;
}

header{
	background-color: silver;
}

main > div{
	background-color: silver;
	margin: 1%;
	min-height: 300px;
	float: left; 
}
	div.left{
		width: 15%
	}

	div.center{
		width: 64%
	}

	div.right{
		width: 15%
	}

	main > div{
		background-color: orange; 
	}

	div.A{
		background-color: silver; 
	}