body{
	margin: 0px;
	padding: 10px;
	font-family: sans-serif;
	font-weight: 100;
}

/*start of interface*/

div.interface{	
	width: 220px;
	height: 160px;
	background-color: #fc6e51;
	border-radius: 5px;
	float: left;
}

/*start of profile*/
img.user{
	position: relative;
	left: 14px;
	top: 11px;
}

	span.profile{
		position: relative;
		left: 25px;
		top: 9px;
		font-size: 14px;
		color: #ffffff;
	}
/*end of profile*/

/*start of messages*/
div.messages{
	width: 220px;
	height: 40px;
	background-color: #e9573f;
	position: relative;
	top: 20px;
}

	img.messages{
		position: relative;
		left: 14px;
		top: 11px;
	}

		span.messages{
			position: relative;
			left: 45px;
			top: -10px;
			font-size: 14px;
			color: #ffffff;
		}
/*end of messages*/

/*start of favorites*/
img.favorites{
	position: relative;
	left: -55px;
	top: 35px;
}

	span.favorites{
		position: relative;
		left: -42px;
		top: 33px;
		font-size: 14px;
		color: #ffffff;
	}
/*end of favorites*/

/*start of settings*/
img.settings{
	position: relative;
	left: -138px;
	top: 75px;
}

	span.settings{
		position: relative;
		left: 47px;
		top: 54px;
		font-size: 14px;
		color: #ffffff;
	}
/*end of settings*/

/*end of interface element*/


/*start of map element*/
div.map{
	width: 300px;
	height: 342px;
	border-radius: 5px;
	float: left;
	position: relative;
	left: 30px;
	border: 1px solid #81848a; 
}

h4{
	position: relative;
	top: -10px;
	left: 20px;
	color: #81848a;
}

i{
	color: #a0d468;
	top: -20px;
	left: 20px;
	position: relative;
}

span.street{
	position: relative;
	top: -20px;
	left: 20px;
	color: #b7bdc7;
	font-size: 15px;
}

span.state{
	position: relative;
	top: 3px;
	left: -120px;
	color: #b7bdc7;
	font-size: 15px;
}

span.country{
	position: relative;
	top: 8px;
	left: 33px;
	color: #b7bdc7;
	font-size: 15px;
}