/*

font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

*/
body{
	margin: 0px;
	padding: 0px;
}

section.splash{
	width: 100%;
	height: 605px;
	background-color: #2f3030;
	color: #fff;
}

section.splash span{
	font-size: 16px; 
	font-family: 'Lato', sans-serif;
	display: block;
	text-align: center;
}

section.splash h1{
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	margin: 34px auto;
}

section.splash a{
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	display: block;
	width: 240px;
	height: 50px;
	border: 1px solid #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	padding-top: 15px;
	margin: 0px auto;
}

span.greeting{
	padding-top: 161px;
}

span.slogan{
	margin-bottom: 78px;
}

nav.main{
	width: 100%;
	height: 109px;
	text-align: center;
}

	nav.main a{
		font-size: 14px;
		color: #7f8c8d;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
		display: inline-block;
		width: 10%;
		position: relative;
		top: -10px;
	}

	nav.main a:hover{
		color: #2980b9;
	}

	nav.main h2{
		display: inline-block;
		width: 150px;
		font-family: 'Lato', sans-serif;
		font-size: 40px;
		margin: 32px 0px 0px 0px;
	}