div.starter{
	width: 220px;
	height: 350px;
	background-color: #ffffff;
	border-radius: 5px;
	font-family: 'Open Sans' , sans-serif;
	padding-bottom: 20px;
	box-shadow: 0px 2px 2px #e3e4e8;
}

div.header{
	float: left;
	margin: 30px 128px 0px 20px;
	color: #808388;
	font-size: 20px;
	display: block;
}

div.price{
	color: #fb6e50;
	margin: 59px 77px 0px 20px;
	font-size: 13px;
	text-transform: uppercase;
}

li.users{
	margin: 27px 157px 27px 20px;  
	color: #808388;
	list-style-type: none;
	font-size: 13px;
}

li.projects{
	margin: 27px 135px 27px 20px;  
	color: #808388;
	list-style-type: none;
	font-size: 13px;
}

li.space{
	margin: 27px 60px 27px 20px;  
	color: #808388;
	list-style-type: none;
	font-size: 13px;
}

li.email{
	margin: 27px 96px 27px 20px;  
	color: #808388;
	list-style-type: none;
	font-size: 13px;
}

li.individuals{
	margin: 27px 119px 0px 20px;  
	color: #b8bcc8;
	list-style-type: none;
	font-size: 12px;
}

div.button{
	width: 180px;
	height: 40px;
	border-radius: 5px;
	margin: 27px 20px 20px 19px;
	background-color: #aab2bd;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

p{
	padding-top: 12.5px;
	font-size: 15px;
}